@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic,800,800italic);

body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.navbar-brand img{
    max-width: 150px;
}
.navbar-brand span{
    display: inline-block;
    padding-left: 10px;
    border-left: 1px #000 solid;
    margin-left: 10px;
}
#employeeRequestsTable{
    margin-top: 20px;
}
.filterReset{
    padding: 7px;
    cursor: pointer;
}
#filterHolder{
    padding-top: 20px;
}
.noResults{
    padding: 10px;
}
#sideMenu{

}
ul#sideMenu, .card-body ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul#sideMenu li,
.card-body ul li{
    padding-bottom: 5px;

}
ul#sideMenu li a{
    color: #ee5948;
    font-weight: 600;
}

.card-body ul li a{
    font-size: 13px;
    font-weight: normal;
    color: #ee5948;
}